@import "tailwindcss";

@theme {
  /* Fonts */
  --font-base: "Lexend Deca", sans-serif;
  --font-display: "Cal Sans", "Lexend Deca", sans-serif;
  --font-countdown: "Finlandica", "Lexend Deca", sans-serif;

  /* Colors */
  --color-gradient-start: oklch(0.6 0.166 46.51); /* Dark Orange */
  --color-gradient-mid: oklch(71.8% 0.202 349.761); /* Pink */
  --color-gradient-end: oklch(0.82 0.1632 77.79); /* Light Orange */
  --color-background: oklch(1 0.0013 106.42); /* White */

  /* Animations */
  --animate-gradient: gradient 5s ease infinite;

  @keyframes gradient {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}
