---
import Countdown from "./Countdown.astro";
import EmailForm from "./EmailForm.astro"
---

<main>
  <div class="mt-24 p-8 sm:p-12 md:p-16 mx-auto text-center">
    <h1 class="text-2xl sm:text-4xl md:text-6xl lg:text-7xl xl:text-8xl font-hero">
      <span class="block text-3xl sm:text-5xl sm:inline md:text-7xl lg:text-8xl xl:text-9xl animate-gradient bg-gradient-to-r from-secondary via-accent to-primary bg-clip-text text-transparent">
        Yumatic
      </span> is coming to change the way you eat.
    </h1>

    <Countdown />
  </div>
</main>
