<main>
  <div class="p-10 mx-auto text-center">
    <h1 class="text-8xl">
      <span class="text-9xl animate-text bg-gradient-to-r from-secondary via-accent to-primary bg-clip-text text-transparent">
        Yumatic
      </span> is coming to change the way you eat.
    </h1>
  </div>
</main>
