---
import Countdown from "./Countdown.astro";
---

<main>
  <div class="p-16 mx-auto text-center">
    <h1 class="text-8xl font-hero">
      <span class="text-9xl animate-gradient bg-gradient-to-r from-secondary via-accent to-primary bg-clip-text text-transparent">
        Yumatic
      </span> is coming to change the way you eat.
    </h1>

    <Countdown />
  </div>
</main>
